.interna_produtos{
	background: url("../img copy/bg-produtos.jpg") no-repeat center;
	background-size: cover;
}

.produtos_item{
	padding-top: 60px;
}

.produtos_item h2{
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	position: relative;
	top: -180px;
	text-align: center;
	margin-bottom: -56px;
}

.produtos_item h2:after, .produtos_item h2:before{
	content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 6px auto 8px auto;
}

.produto_icone{
	background: #000;
	padding: 70px 0;
}

.produto_icone img{
	margin: 0 auto;
}

.produto_info{
	background: #000;
}

.produto_info p{
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	height: 180px;
	padding: 30px 40px;
}

.produto_info ul li{
	background: #fec63e;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	float: left;
	width: 229px;
	height: 49px;
	text-align: center;
	padding-top: 16px;
}

.produto_info ul li:nth-child(1), .produto_info ul li:nth-child(2) {
	margin-bottom: 2px;
}

.produto_info ul li:nth-child(even) {
	margin-left: 2px;
}

/*Orçamento*/

.orcamento{
	background: #000;
	width: 100%;
	margin-top: 60px;
	padding: 40px 0;
}

.orcamento h2 {
	color:#fec63e; 
}

.orcamento h2:after {
    background: #fec63e; 
}

.form{
	padding-right: 60px;
}

.form label{
	display: block;
	color: #fff;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
}

.form input{
	display: block;
	width: 100%;
	border: 4px solid #fec63e;
	background: none;
	color: #fff;
	padding: 7px 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', serif;
}

.form textarea{
	display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #fec63e;
	background: none;
	color: #fff;
	padding: 7px 10px;
	margin-bottom: 20px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', serif;
}
 
.form button {
	padding: 7px 40px;
	background: none;
}

.orcamento_dados{
	color: #fff;															
}

.orcamento_dados h3{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #fec63e;
	font-weight: bold;
}

.orcamento_dados span{
   display: block;
   font-size: 18px;
   line-height: 30px;
   font-family: Georgia, 'Times New Roman', serif;
}

.orcamento_dados span:nth-of-type(2){
	margin-bottom: 40px;
} 

.orcamento_dados ul{
	padding-right: 60px;
}

.orcamento_dados ul li{
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 14px;
	padding: 10px 15px;
}

.orcamento_dados ul li:nth-child(odd){
     background: #1d1d1d;
}

.orcamento_dados p{
	margin: 8px 0;
}