/*estilo para tablet*/
@media only screen and (min-width: 788px) and (max-width: 979px) {

/*qualidade home*/	
.qualidade:after {
		right: 66px;
	
}
.qualidade_lista li {
    padding: 0 10px;
}

/*footer*/

.footer_rede ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 6px;
}

.footer_rede ul li a img{
	width: 26px;
	height: 26px;
}

/*produtos*/

.produtos_item h2{
	top: -150px;
	margin-bottom: -56px;
}

.produto_icone{
	padding: 41px 0;
}

.produto_info p{ 
	font-size: 14px;
	line-height: 20px;
	height: 122px;
	padding: 20px 30px;
}

.produto_info ul li{
	width: 181px;
	height: 49px;
}

}/*final*/






/*estilo pata smartphone*/

@media only screen and (max-width: 787px) {

.header{
	position: relative;
	padding-bottom: 0;
}

.header img{
	margin: 0 auto 10px auto;
}

.header_menu{
	text-align: center;
}

.header_menu ul li{
	margin: 5px;
}

.header_menu ul li a{
	border: 4px solid #000;
	width: 136px;
	display: block;
	float: left;
}

.header_menu ul li a:hover{
	border-color: #fff ;
}

.header_menu ul li a.menu_ativo{
    border-color: #fff;
}

.introducao h1 {
    font-size: 36px;
}

.introducao{
	margin-top: 0px;
	padding-top: 40px;
	background: url("../img copy/bg-mobile.jpg") no-repeat center;
    background-size: cover;
}

/*introducao interna*/

.introducao-interna {
    margin-top: 0px;
}

/*call*/

.call{
    padding-top: 10px;
}

/*qualidade home*/	
.qualidade:after {
    display: none;
}

/*sobre*/

.missao_sobre p{
	font-size: 14px;
	line-height: 20px;
	padding-right: 0px
}

.missao_sobre ul li{
	font-size: 14px;
	line-height: 25px;	
}

/*produtos*/

.produtos_item h2{
	top: -100px;
	margin-bottom: -68px;
}

.produto_icone{
	padding: 41px 0;
}

.produto_info p{ 
	font-size: 14px;
	line-height: 20px;
	height: auto;
	padding: 20px 30px;
}

.produto_info ul li{
	width: 149px;
	height: 49px;
	font-size: 14px;
	line-height: 20px;
	padding-top: s14px ;
}
.form{
	padding-right: 0px;
}
.orcamento_dados ul{
	padding-right: 0px;
}

/*contato*/
.contato_form{
	padding-right: 0px;
	margin-bottom: 40px;
}


}/*final*/


