.interna_sobre{
	background: url("../img copy/bg-sobre.jpg") no-repeat center;
    background-size: cover;

}

.missao_sobre{
    padding-top: 60px;
}

.missao_sobre p{
	font-size: 18px;
	line-height: 25px;
	margin-bottom: .1em;
	padding-right: 60PX;
}

.missao_sobre ul li{
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 18px;
	line-height: 30px;
}


.foto-equipe{
	padding-top: 40px;
}