


/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor text-decoration
 */ 

 a {
	text-decoration: none;
}

/**
 * Remove list-style
 */ 

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }

/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor text-decoration
 */ 

 a {
	text-decoration: none;
}

/**
 * Remove list-style
 */ 

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}



*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
  
  .container {
      width: 960px;
      margin: 0 auto;
      padding: 0px;
      position: relative;
  }
  
  .container:after, .container:before {
      content: " ";
      display: table;
  }
  
  .container:after {
      clear: both;
  }
  
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
  }
  
  .grid-1 	{width: 40px;}
  .grid-2 	{width: 100px;}
  .grid-3 	{width: 160px;}
  .grid-4 	{width: 220px;}
  .grid-5 	{width: 280px;}
  .grid-6 	{width: 340px;}
  .grid-7 	{width: 400px;}
  .grid-8 	{width: 460px;}
  .grid-9 	{width: 520px;}
  .grid-10 	{width: 580px;}
  .grid-11 	{width: 640px;}
  .grid-12 	{width: 700px;}
  .grid-13 	{width: 760px;}
  .grid-14 	{width: 820px;}
  .grid-15 	{width: 880px;}
  .grid-16 	{width: 940px;}
  .grid-1-3	{width: 300px;}
  
  @media only screen and (min-width: 788px) and (max-width: 979px) {
      .container {
          width: 768px;
      }
  
  .grid-1   {width: 28px;}
  .grid-2   {width: 76px;}
  .grid-3   {width: 124px;}	
  .grid-4   {width: 172px;}
  .grid-5   {width: 220px;}
  .grid-6   {width: 268px;}
  .grid-7   {width: 316px;}
  .grid-8   {width: 364px;}
  .grid-9   {width: 412px;}
  .grid-10  {width: 460px;}
  .grid-11  {width: 508px;}
  .grid-12  {width: 556px;}
  .grid-13  {width: 604px;}
  .grid-14  {width: 652px;}
  .grid-15  {width: 700px;}
  .grid-16  {width: 748px;}
  .grid-1-3 {width: 236px;}
      
  }
  
  @media only screen and (max-width: 787px) {
     .container{
         width: 300px;
     }
  
     .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
      .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
      width: 300px;
      margin: 0 0 20px 0; 
      float: none;
  
  }
  
  }
  




/* Estilos Gerais*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 20px;
}

img{
    display: block;
    max-width: 100%;
}

.btn{
    border: 3px solid #fec63e;
    padding: 10px 30px;
    color: #fec63e;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
   }
   .btn:hover{
       color: #fff;
       border-color: #fff;
   }

   .btn.btn-preto:hover {
    color: #000;
    border-color: #000
   }

.subtitulo{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}  

.subtitulo:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto;
}

.subtitulo-interno{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 40px;
}  

.subtitulo-interno:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px 0;
}

/* Header */

.header{
    position: fixed;
    top:0;
    width: 100%;
    background: #fec63e;
    padding: 15px 0;
    z-index: 10;
}

.header_menu{
    text-align: right;
}

.header_menu ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1m;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: #fff;
}

.header_menu ul li a.menu_ativo{
    color: #fff;
}

/* Introducao*/

.introducao {
    width: 100%;
    height: 380px;
    background: url("../img copy/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.quote-externo{
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #fff;
}

.quote-externo p{
    font-style: italic;
}

.quote-externo p:before, .quote-externo p:after{
content: "";
display: block;
width: 60px;
height: 3px;
background: #fff;
margin: 14px auto 10px auto;

}

.quote-externo cite{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

/*introducao interna*/

.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
}

.introducao-interna h1 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.introducao-interna h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 6px auto 10px auto;
}

/*Produtos*/

.produtos{
    padding: 60px 0;
}

.produtos_lista li{
    background: #fec63e;
    text-align: center;
}

.produtos_lista li img{
    margin: 0 auto;
}

.produtos_lista li h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.produtos_lista li h3:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;    
}

.produtos_lista li p{
    padding: 10px 20px 20px 20px;
}

.produtos_icone{
    background: #000 ;
    padding: 20px;
}

.call{
    padding-top: 40px;
    text-align: center;
    clear: both;
}
.call p{
    margin-bottom: 20px;
}

/*Portifólio*/

.portfolio{
    width: 100%;
    background: #000;
    padding: 40px;
}

.portfolio .subtitulo{
    color: #fec63e;

}
.portfolio .subtitulo:after {
    background: #fec63e;
}

.portfolio_lista li:last-child {
    margin-top: 20px;
}
.portfolio .call p{
    color: #fff;
}

/*Qualidade*/

.qualidade {
    padding: 60px 0;
}

.qualidade:after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img copy/linhas.svg") no-repeat center;
    position: absolute;
    top:209px;
    right: 162px;
    z-index: -1;

}

.qualidade img{
    margin: 0 auto;
}

.qualidade_lista{
    padding-top: 20px;
    overflow: auto;
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
}
 
.qualidade_lista li h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.qualidade_lista li h3:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 6px auto;
    
}

/*Quebra*/

.quebra{
    width: 100%;
    height: 220px;
    background: url("../img copy/bg-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}

.quebra .quote-externo {
    max-width: 400px;
}

/*footer*/

.footer {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 20px 0 ;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #fec63e;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;

}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fec63e;
    margin: 6px 0 12px 0;
}

.footer_historia{
    text-align: justify;
    padding-right: 90px;
} 

.footer_contato ul li{
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', serif;
}

.footer_rede ul li {
    display: inline-block;
    margin-left: 10px;
}

.footer_rede ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 10px;
}

.footer_rede ul li a:hover{
    border-color: #fff;
}

.copy{
    width: 100%;
    background: #fec63e;
    padding: 20px 0;
}

/*javascript*/

.js [data-slide] {
    position: relative;
  }
.js  [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
} 
  
.js  [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
    z-index: 1;
}


.js  [data-slide-nav] {
      display: block;
      text-align: center;
      margin-top: 20px;
}

.js  [data-slide-nav] button{
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 4px;
      border: none;
      padding: 0px;
      border-radius: 6px;
      text-indent: -99px;
      overflow: hidden;
      background: #1d1d1d;
}

.js    [data-slide-nav] button.active{
    background:  #fec63e;
}

.js [data-anime]{
    opacity: 0;
}

.js .fadeInDown {
    transform: translate3d(0, -20px, 0);
}

.js .anime{
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 800ms;
}

.nao-aparece{
    visibility: hidden;
    position: absolute;
    height: 0px;
}


#form-sucesso {
   color: #31aa39;
}

#form-erro {
    color: #f64540;
}

.interna_sobre{
	background: url("../img copy/bg-sobre.jpg") no-repeat center;
    background-size: cover;

}

.missao_sobre{
    padding-top: 60px;
}

.missao_sobre p{
	font-size: 18px;
	line-height: 25px;
	margin-bottom: .1em;
	padding-right: 60PX;
}

.missao_sobre ul li{
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 18px;
	line-height: 30px;
}


.foto-equipe{
	padding-top: 40px;
}

.interna_produtos{
	background: url("../img copy/bg-produtos.jpg") no-repeat center;
	background-size: cover;
}

.produtos_item{
	padding-top: 60px;
}

.produtos_item h2{
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	position: relative;
	top: -180px;
	text-align: center;
	margin-bottom: -56px;
}

.produtos_item h2:after, .produtos_item h2:before{
	content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 6px auto 8px auto;
}

.produto_icone{
	background: #000;
	padding: 70px 0;
}

.produto_icone img{
	margin: 0 auto;
}

.produto_info{
	background: #000;
}

.produto_info p{
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	height: 180px;
	padding: 30px 40px;
}

.produto_info ul li{
	background: #fec63e;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	float: left;
	width: 229px;
	height: 49px;
	text-align: center;
	padding-top: 16px;
}

.produto_info ul li:nth-child(1), .produto_info ul li:nth-child(2) {
	margin-bottom: 2px;
}

.produto_info ul li:nth-child(even) {
	margin-left: 2px;
}

/*Orçamento*/

.orcamento{
	background: #000;
	width: 100%;
	margin-top: 60px;
	padding: 40px 0;
}

.orcamento h2 {
	color:#fec63e; 
}

.orcamento h2:after {
    background: #fec63e; 
}

.form{
	padding-right: 60px;
}

.form label{
	display: block;
	color: #fff;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
}

.form input{
	display: block;
	width: 100%;
	border: 4px solid #fec63e;
	background: none;
	color: #fff;
	padding: 7px 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', serif;
}

.form textarea{
	display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #fec63e;
	background: none;
	color: #fff;
	padding: 7px 10px;
	margin-bottom: 20px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', serif;
}
 
.form button {
	padding: 7px 40px;
	background: none;
}

.orcamento_dados{
	color: #fff;															
}

.orcamento_dados h3{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #fec63e;
	font-weight: bold;
}

.orcamento_dados span{
   display: block;
   font-size: 18px;
   line-height: 30px;
   font-family: Georgia, 'Times New Roman', serif;
}

.orcamento_dados span:nth-of-type(2){
	margin-bottom: 40px;
} 

.orcamento_dados ul{
	padding-right: 60px;
}

.orcamento_dados ul li{
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 14px;
	padding: 10px 15px;
}

.orcamento_dados ul li:nth-child(odd){
     background: #1d1d1d;
}

.orcamento_dados p{
	margin: 8px 0;
}


.interna_portfolio{
	background: url("../img copy/bg-portfolio.jpg") no-repeat center;
    background-size: cover;

}

.quote_clientes{
	padding: 60px 0;
	max-width: 460px;
	margin: 0 auto;
}

.quote_clientes p{
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 18px;
	line-height: 25px;
	font-style: italic;
	margin-bottom: 20px;
}

.quote_clientes cite{
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	float: right;
	font-style: normal;
}


.interna_contato{
	background: url("../img copy/bg-contato.jpg") no-repeat center;
	background-size: cover;
}



/*Orçamento*/

.contato{
	padding: 40px 0;
}


.contato_form{
	padding-right: 60px;
}

.contato_form{
	display: block;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
}

.contato_form input{ 
	display: block;
	width: 100%;
	border: 4px solid #fec63e;
	background: none;
	padding: 7px 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', serif;
}

.contato_form textarea{
	display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #fec63e;
	background: none;
	padding: 7px 10px;
	margin-bottom: 20px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', serif;
}
 
.contato_form button {
	padding: 7px 40px;
	background: none;
}

.orcamento_dados{
	color: #fff;
}

.contato_dados h3{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #fec63e;
	font-weight: bold;
}

.contato_dados span{
   display: block;
   font-size: 18px;
   line-height: 30px;
   font-family: Georgia, 'Times New Roman', serif;
}


.contato_dados span:nth-of-type(even){
	margin-bottom: 30px;
}
 

.contato_dados ul{
	margin-top: 10px;
}

.contato_dados ul li {
    display: inline-block;
    margin-left: 10px;
}
.contato_dados ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 10px;
}

.contato_dados ul li a:hover{
    border-color: #000;
}

.contato_mapa{
	margin-bottom: 60px;
}

/*estilo para tablet*/
@media only screen and (min-width: 788px) and (max-width: 979px) {

    /*qualidade home*/	
    .qualidade:after {
            right: 66px;
        
    }
    .qualidade_lista li {
        padding: 0 10px;
    }
    
    /*footer*/
    
    .footer_rede ul li a {
        border: 3px solid #fec63e;
        display: block;
        padding: 6px;
    }
    
    .footer_rede ul li a img{
        width: 26px;
        height: 26px;
    }
    
    /*produtos*/
    
    .produtos_item h2{
        top: -150px;
        margin-bottom: -56px;
    }
    
    .produto_icone{
        padding: 41px 0;
    }
    
    .produto_info p{ 
        font-size: 14px;
        line-height: 20px;
        height: 122px;
        padding: 20px 30px;
    }
    
    .produto_info ul li{
        width: 181px;
        height: 49px;
    }
    
    }/*final*/
    
    
    
    
    
    
    /*estilo pata smartphone*/
    
    @media only screen and (max-width: 787px) {
    
    .header{
        position: relative;
        padding-bottom: 0;
    }
    
    .header img{
        margin: 0 auto 10px auto;
    }
    
    .header_menu{
        text-align: center;
    }
    
    .header_menu ul li{
        margin: 5px;
    }
    
    .header_menu ul li a{
        border: 4px solid #000;
        width: 136px;
        display: block;
        float: left;
    }
    
    .header_menu ul li a:hover{
        border-color: #fff ;
    }
    
    .header_menu ul li a.menu_ativo{
        border-color: #fff;
    }
    
    .introducao h1 {
        font-size: 36px;
    }
    
    .introducao{
        margin-top: 0px;
        padding-top: 40px;
        background: url("../img copy/bg-mobile.jpg") no-repeat center;
        background-size: cover;
    }
    
    /*introducao interna*/
    
    .introducao-interna {
        margin-top: 0px;
    }
    
    /*call*/
    
    .call{
        padding-top: 10px;
    }
    
    /*qualidade home*/	
    .qualidade:after {
        display: none;
    }
    
    /*sobre*/
    
    .missao_sobre p{
        font-size: 14px;
        line-height: 20px;
        padding-right: 0px
    }
    
    .missao_sobre ul li{
        font-size: 14px;
        line-height: 25px;	
    }
    
    /*produtos*/
    
    .produtos_item h2{
        top: -100px;
        margin-bottom: -68px;
    }
    
    .produto_icone{
        padding: 41px 0;
    }
    
    .produto_info p{ 
        font-size: 14px;
        line-height: 20px;
        height: auto;
        padding: 20px 30px;
    }
    
    .produto_info ul li{
        width: 149px;
        height: 49px;
        font-size: 14px;
        line-height: 20px;
        padding-top: s14px ;
    }
    .form{
        padding-right: 0px;
    }
    .orcamento_dados ul{
        padding-right: 0px;
    }
    
    /*contato*/
    .contato_form{
        padding-right: 0px;
        margin-bottom: 40px;
    }
    
    
    }/*final*/