* {
    text-transform: uppercase;
    color: orange;
}

p{
    color: #222;
    font-size: 16px;
}

div { 
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    background: #bbb;
}
div a,div 
p {
    color: green;
}
.btn-comprar {
    color: black;
}
.principal {
    width: 100px;
}
a{
    width: 100px;
    height: 20px;
    background: black;
    padding: 10px;
}

a:hover {
    font-size: 20px;
    color: red;
}