body{
    background-color: #333;
    background-image: url("esporte-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 5000;

}
div{
   width: 200px;
   height: 400px;
   margin:0 auto;
   background:#ccc ; 
}