body, h1, h2, ul, li, p, dd, dt, dl {
  margin:0px;
  padding: 0px;
}

img{
  display: block; 
  max-width: 100%;   
}

ul{
    list-style: namo;
}

body{
    background: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr ;
}

.menu{
    grid-column: 3/ 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #FB5;
}
.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}
.menu li a {
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .1em;
}

.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 300x 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}

.titulo {
    font-family: georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
}

.animais h2 {
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color:#E54 ;
}
.animais h2::before{
    content: " ";
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}



.animais p {
    font-family: Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais-lista {
    height: 370px;
    overflow-y:scroll;
    grid-column: 2;
}

.animais-lista::-webkit-scrollbar{
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb{
    background: #FB5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}
.animais-lista::-webkit-scrollbar-track{
    background:#faf6ed;
}
 .animais-descricao{
   grid-column: 3;

 }   

.animais-descricao section {
    margin-bottom: 3rem;
}


.faq-list {
    grid-column: 2 / 4;
}
.faq-list dt{
   font-family: monospace;
   font-weight: bold;
   margin-top: 2rem;
   margin-bottom: .5rem;
   color: #E54; 
}
.faq-list dt::before {
   content: "";
   display: inline-block;
   width: 20px;
   height: 10px;
   margin-right: 10px;
   background: #FB5;

}
.faq-list dd {
    font-family: Arial;
    margin-bottom: 5rem;
    margin-left:30px;

}
.mapa{
    grid-column: 3;
}
.dados {
    grid-column: 3;
}
.dados li{
    margin-bottom: 1rem;
    font-family: Arial;
}
.dados li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
} 
.copy{
    grid-column: 3 / 5;
    margin-bottom: 2rem;
    background: #FB5;
}   
.copy p {
    padding: 20px;
    font-family: monospace;
    font-weight: bold;
}
@media (max-width: 700px){
    body{
      grid-template-columns: 1fr;
    }
    .menu, .grid-section, .copy{
        grid-column: 1;;
    }

    .grid-section{
       grid-template-columns: 100px 1fr;
       grid-gap:10px;
    }
    .animais-lista{
        grid-column: 1;
    }
    .faq-list, .dados, .mapa{
       grid-column:  1 / 3s; 
    }
    .grid-section h1 {
        font-size: 3rem;
    }
    .menu{
        margin-top: 0px;

    }
    .copy{
      margin-bottom: 0px;  
    }
}